.uses-main {
  padding: 20px;
  position: relative;
}
.uses-main .iptBox {
  height: 100px;
  width: 100%;
  padding-top: 30px;
}
.uses-main .iptBox .iptText {
  width: 200px;
  height: 40px;
}
.uses-main .iptBox .iptSub {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  outline: none;
}
.uses-main .table {
  text-align: center;
}
.uses-main .table th {
  text-align: center;
}
.uses-main .table-hover > tbody > tr:hover {
  cursor: pointer;
}
.uses-main .nav-fenYe {
  display: flex;
  justify-content: flex-end;
}
.uses-main .nav-fenYe .pagination > li > a,
.uses-main .nav-fenYe .pagination > li > span {
  border: 1px solid black;
  color: #000;
}
.uses-main .nav-fenYe .pagination > li > a:hover,
.uses-main .nav-fenYe .pagination > li > span:hover {
  background: blueviolet;
  color: white;
}

.newPhoneBox {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 580px;
  border: 1px solid #000;
  background: #eee;
  box-sizing: border-box;
  display: none;
}
.newPhoneBox .newH2box {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #000;
  text-align: center;
  line-height: 70px;
  box-sizing: border-box;
}
.newPhoneBox .newH2box h2 {
  font-weight: 600;
  font-size: 30px;
}
.newPhoneBox .newInputBox {
  width: 100%;
  padding-top: 38px;
}
.newPhoneBox .newInputBox p {
  height: 60px;
  line-height: 60px;
}
.newPhoneBox .newInputBox p span {
  display: inline-block;
  font-size: 25px;
  width: 150px;
  height: 40px;
  text-align: right;
  line-height: 40px;
}
.newPhoneBox .newInputBox p input {
  width: 300px;
  height: 42px;
}
.newPhoneBox .newInputBox p .file {
  display: inline-block;
  width: 200px;
}
.newPhoneBox .newInputBox p .selectName {
  width: 300px;
  height: 40px;
}
.newPhoneBox .newInputBox p .btnBox {
  line-height: 40px;
  width: 150px;
  height: 40px;
  background: #15bfdd;
  border: 0;
  outline: none;
  border-radius: 10px;
  color: white;
}
