<!-- 头部 -->
<div class="lyj-head">
    <!-- logo -->
    <div class="head-left">
        <a href="/" class="logo" title="中坳风场欢迎您">中坳电站后台管理系统</a>
    </div>
    <!-- 右边 -->
    <div class="head-right">
        <p>
            <span id="pName"></span>
            <span><a href="/dengLu.html" id="pNameOne">请登录</a></span>
        </p>
        <a href="/users/clearCookie" id="btn" class="btn btn-primary">退出</a>
        <!-- onclick="window.location='/dengLu.html' -->
    </div>
</div>
<script src="/jquery-1.12.4.min.js"></script>
<script>
    //获取本地cookie
    var pName = document.getElementById('pName');
    // var pName = $('#pName');

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }
        return "";
    }

    function getCookieOne(cname1) {
        var name = cname1 + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) != -1) return c.substring(name.length, c.length);
        }
        return "";
    }
    getCookie('nickname');
    getCookieOne('isAdmin');


    //判断是否管理员
    if (getCookieOne('isAdmin') == 'true') {
        $("#pName").show();
        pName.innerHTML = '欢迎您' + decodeURI(getCookie('nickname')) + '(管理员)'; //decodeURI将中文字符进行解码操作
    } else {
        $("#pName").show();
        pName.innerHTML = '欢迎您<' + decodeURI(getCookie('nickname')) + '>(游客)'; //=号是js

    }


    // 如果cookie nickname ==空
    if (getCookie('nickname') == "") {
        $("#pName").hide();
        $("#pNameOne").show();

    }

    // pName.text(getCookie('nickname'))//jquery写法

    // console.log(getCookieOne('isAdmin'));
    // console.log(typeof getCookieOne('isAdmin'));
</script>