<!-- 头部 -->
<div class="lyj-head">
    <!-- logo -->
    <div class="head-left">
        <a href="/" class="logo" title="中坳风场欢迎您">中坳电站后台管理系统</a>
    </div>
    <!-- 右边 -->
    <div class="head-right">
        <p>欢迎您 - <span>xxx</span> (管理员)</p>
        <button class="btn btn-primary" onclick="window.location='/dengLu.html'">退出</button>
    </div>
</div>